In [7]:
import pandas as pd
from pandas.io.json import json_normalize
import json
path = '../../data/raw/'

In [3]:
FGC_release_B_df = pd.read_json(path+'FGC_release_B.json')
FGC_release_B_df.head()

,DID,DTEXT,QUESTIONS
0,D251,"""戰國末期,有一位慷慨赴義、壯烈成仁的荊軻,在易水河邊唱了一首短歌,跟送行的人訣別。那時候,...","[{'QID': 'D251Q01', 'QTYPE': '基礎題', 'QTEXT': '..."
1,D252,"""賴東進出生在乞丐家庭,家裡共有十二個小孩。父親 眼全盲,母親與大弟都是重度智障,全家十四口...","[{'QID': 'D252Q01', 'QTYPE': '基礎題', 'QTEXT': '..."
2,D253,"西元一六O九年初夏,伽利略在威尼斯聽說有人發明了望遠鏡。他便以自己的科學知識為基礎, 弄懂了...","[{'QID': 'D253Q01', 'QTYPE': '基礎題', 'QTEXT': '..."
3,D254,"""東漢時代的楊震,是一位品德高尚、學問淵博的人,全國各地慕名而來,向他求教的弟子多達千人。由...","[{'QID': 'D254Q01', 'QTYPE': '基礎題', 'QTEXT': '..."
4,D255,"""讀書報告\n書名:湯姆歷險記\n作者:馬克·吐溫\n譯者:蔡洛生\n出版者:臺灣英文雜誌社...","[{'QID': 'D255Q01', 'QTYPE': '基礎題', 'QTEXT': '..."

把問題分別一個csv出來作為訓練集 放在 data/processed 裡面

In [18]:
with open(path+'FGC_release_B.json') as data_file:    
    data = json.load(data_file)
B_df_raw = json_normalize(data)
B_df = B_df_raw[['QUESTIONS']].explode('QUESTIONS').reset_index(drop=True)
display(B_df.iloc[:10])

B_df_questions = json_normalize(B_df['QUESTIONS'])
display(B_df_questions.head())

                                           QUESTIONS
0  {'QID': 'D251Q01', 'QTYPE': '基礎題', 'QTEXT': '1...
1  {'QID': 'D251Q02', 'QTYPE': '基礎題', 'QTEXT': '2...
2  {'QID': 'D251Q03', 'QTYPE': '基礎題', 'QTEXT': '3...
3  {'QID': 'D251Q04', 'QTYPE': '基礎題', 'QTEXT': '4...
4  {'QID': 'D251Q05', 'QTYPE': '基礎題', 'QTEXT': '5...
5  {'QID': 'D251Q06', 'QTYPE': '基礎題', 'QTEXT': '6...
6  {'QID': 'D251Q07', 'QTYPE': '基礎題', 'QTEXT': '7...
7  {'QID': 'D251Q08', 'QTYPE': '進階題', 'QTEXT': '8...
8  {'QID': 'D251Q09', 'QTYPE': '基礎題', 'QTEXT': '9...
9  {'QID': 'D252Q01', 'QTYPE': '基礎題', 'QTEXT': '1...

       QID QTYPE                    QTEXT
0  D251Q01   基礎題            1.荊軻是哪一個朝代的人？
1  D251Q02   基礎題  2.荊軻在哪裡唱了一首短歌與送行的朋友們訣別？
2  D251Q03   基礎題              3.秦舞陽是哪一國人？
3  D251Q04   基礎題       4.荊軻離別刺秦王發生在哪一個季節？
4  D251Q05   基礎題  5.前來易水河邊送行的人們都穿什麼顏色的衣服？

In [19]:
B_df_questions.to_csv('../../data/processed/FGC_B_processed.csv', index=0)

### 處理答案

In [23]:
with open(path+'FGC_release_B_answers.json') as data_file:    
    data = json.load(data_file)
B_df_raw = json_normalize(data)


B_df_answers = B_df_raw
display(B_df_answers.head())

       QID QTYPE   ANSWER
0  D251Q01   基礎題  戰國末期;戰國
1  D251Q02   基礎題     易水河邊
2  D251Q03   基礎題       燕國
3  D251Q04   基礎題  秋天;深秋;秋
4  D251Q05   基礎題     白色;白

In [24]:
B_df_answers.to_csv('../../data/processed/FGC_B_processed_answers.csv', index=0)